<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.mybatis.dao.HelloDao">
    <select id="getCurrentTime" resultType="string" databaseId="derby">
    	VALUES CURRENT_DATE || ' ' || CURRENT_TIME
    </select>
    
    <select id="getCurrentTime" resultType="string" databaseId="sqlite">
    	SELECT DATETIME('NOW')
    </select>
</mapper>